* {
	margin: 0px;
	padding: 0px;
}

body {
  background-image: url("/hpassets/img/mickeymouse.jpg");
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.personal-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  height: auto;
  max-width: 200px;
  border-radius: 50%;
}

.name {
  text-align: center;
  padding: 30px;
  font-size: 20px;
}

.navigation {
  text-align: center;
  margin-top: 20px;
}

li {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid rgb(255, 255, 255);
  padding: 10px;
  margin: 10px;
}





  
  /* Media */

  @media only screen and (min-width: 768px) and (max-width: 1024px) {
  }
  
  /* Phone */
  @media only screen and (max-width: 768px) {
  }
  /* Desktop */
  @media only screen and (min-width: 1025px) {
  }