* {
	margin: 0px;
	padding: 0px;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #05F296;
}

header.primary {
    background-color: #054EF2;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    text-shadow: 3px 3px #585858;
    color: #05F296;
    padding: 40px 80px;
}

header.primary h1 {
    font-size: 3.6rem;
    margin: 10px 20px;
}
