/* reset margin and padding around all the elements, it is target everything and reseting the margin and the padding on them. */

* {
	margin: 0px;
	padding: 0px;
}
body {
	text-align: center;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-image: url("../img/bg-tile.jpg");
	background-repeat: repeat-x;
	background-color: #171717;
	font-size: 16px;
	line-height: 1.5em;

}
#container {
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	background-color: #FFF;
	margin-top: 20px;
	border: 1px solid #CCC;
}

#header {

}

#header h1 a {
    display: block;
    width: 800px;
    height: 140px;
	background-image: url("https://github.com/wgrevis/ifsc-3342/blob/ee0788d0099d542b1bd960003fb8ede0e72de35c/pre-assessment/resources/assessment-4.jpg?raw=true");
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
#nav {
	background-color: rgb(157, 155, 155)
}
#nav ul {
	list-style-type: none;
	margin-left: 10px;
}
#nav ul li {
	display: inline;
	height: 35px;
	line-height: 35px;
}
#nav ul li a {
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 18px;
}
#nav ul li a:link, #nav ul li a:visited {
	text-decoration: none;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: rgb(157, 155, 155);
	color: #FFF;
}
#nav ul li a:hover {
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}
#content {
	margin: 20px;
}
#content p {
	margin-top: 5px;
	margin-bottom: 15px;
}

#content a:hover {
	background-color: rgb(240, 117, 23);

}

.img-right {
	float: right;
	border-style: solid;
	margin: 15px 10px 15px 10px;
	border-color: rgb(10, 0, 0);
}

.alert {
	background-color: gray;
	padding: 10px;
	color: #FFF;
	clear: both;

}

#content h2 {
	text-shadow: 2px 2px rgb(190, 190, 190);
}

#content h3 {
	text-shadow: 2px 2px rgb(190, 190, 190);
	position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#content h4 {
	text-shadow: 2px 2px rgb(216, 216, 216);
	background-color: #CCC;
	border-radius: 40px;
	padding: 15px;
	position: relative;
    display: flex;
    flex-direction: row;
	justify-content: center;
}

#footer {
	background-color: rgb(157, 155, 155);
	color: #FFF;
	height: 25px;
}
#footer h6 {
	font-size: 15px;
	line-height: 25px;
	margin-right: 20px;
	margin-left: 20px;
}
